{%load  static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teky.lms.vn</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'app/css/style.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> {% endcomment %}
    </head>
    <body>
        <div class="header">
            <div class="banner">
            <img src="{% static 'app/images/Group 97.png' %}" class="logo">
            <img src="{% static 'app/images/grid.png' %}" class="gird">
            <img src="{% static 'app/images/search.png' %}" class="search">
            <img src="{% static 'app/images/Group 27.png' %}" class="home">
            <img src="{% static 'app/images/Group 9.png' %}" class="bar">
            <img src="{% static 'app/images/Group 112.png' %}" class="point">
            <a href="{% url 'login' %}"> <img src="{% static 'app/images/Group 12.png' %}" class="avata"></a>
            
            </div>
            <!-- end header -->
        </div>
        
            <div class="main-content">
        
                <div class="rec1">
                    
                </div>
                <div class="rec2">
                        
                </div>
                <div class="rec3">
    
                </div>
                
                <div class="content">
                    <div class="text1">
                    <p>Toàn bộ  <b> Cuộc thi </b> </p>
    
                    </div>
                    <div class="rec4">
                         
                     </div>	
    
                </div>
                <div class="select">
                    <div> 
                        <div class="text2">
                    <p> <b> Đang diễn ra </b> </p>
                    <img src="{% static 'app/images/sort-up-and-down-arrows-couple.png' %}" class="arrow">
                    </div>
                    </div>
                    <!-- <select class="select-down">
                        <option value=""></option>
                        <option value=""></option>
                    </select> -->
                    
                </div>
                </div>
                <div class="content-next">
                    <div class="rc rc1">
                        <img src="{% static 'app/images/Group 2947.png' %}" class="image">
                    </div>
                    <div class="rc rc2">
                        <img src="{% static 'app/images/Group 2948.png' %}" class="image">
                    </div>
                    <div class="rc rc3">
                        <img src="{% static 'app/images/Group 2949.png' %}" class="image">
                    </div>
                    
                </div>
            <!-- end main-content -->
        <div class="footer">
            
        </div>
            <!-- end footer -->
    </body>
</html>